p {
  color: #555;
  line-height: 2.6em;
}

h1, h3 {
  font-family: 'Indie Flower', cursive, sans-serif;
  color: #fff;
}

.header {
  position: relative;
  background: url('images/001-s.jpg') no-repeat center;
  background-size: cover;
  min-height: 60vh;
}

.cover {
  position: absolute;
  bottom: 2%; left:0; right: 0;
  text-align: center;
}

.cover p {
  color: #fff;
  letter-spacing: 0.3em;
  font-size: 1.2em;
  width: 7.4em;
  margin: auto;
  border-style: solid none;
  line-height: 1.6em;
}

.background {
  position: relative;
  padding-bottom: 50vh;
  background: url('images/bg-bottom.jpg') no-repeat center bottom;
  background-size: contain;
}

.background-map {
  background: url('images/bg-top.png') no-repeat top right;
}

article p:nth-child(2) {
  line-height: 0.5em;
}

.signature {
  font-family: 'Indie Flower', cursive, sans-serif;
  font-size: 1.3em;
  line-height: 1.2em;
}

.spacing {
  height: 14em;
}

.music {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
/*APlayer override */
.aplayer {
  box-shadow: none !important;
  padding: 1.8em 0;
}

.aplayer-title {
  font-weight: 600;
}

footer {
  background-color: #99a357;
  height: 10em;
}

.footer-info {
  position: absolute;
  width: 100%;
}

.footer-info h3{
  margin-top: 2em;
}

.footer-info p{
  color: #fff;
  line-height: 0.5em;
}
